//Color Variables
$primary-color: #041DB8;
$secondary-color: #092B5F;
$neutral: #FFFFFF;
$light-gray: #F5F6F8;
$input-bg: #FCFCFC;
$border-color: #EEEEEE;
$logo-color: #041DB8;
$logo-color: #041DB8;
$logo-color: #041DB8;

//Other variables
$duration: 1.4s;
$transition-type: cubic-bezier(0.075, 0.82, 0.165, 1);